# used in: src\middleware\security.js
CSRF_COOKIE_SECURE=

# used in: config\database_queries.js, tests\creating_test_users.js, tests\database_testing.js, ...
DB_NAME=

# used in: src\auth\email_verification.js, src\auth\password_reset.js
EMAIL_USER=

# used in: src\auth\login.js
GEOIP=

# used in: src\middleware\security.js
HOST=

# used in: src\auth\security.js
IP_HASH_SECRET=

# used in: src\auth\2fa.js
JWT_2FA_SECRET=

# used in: src\auth\email_verification.js
JWT_EMAIL_SECRET=

# used in: src\auth\2fa.js, src\auth\login.js
JWT_LOGIN_SECRET=

# used in: src\auth\password_reset.js
JWT_SECRET=

# used in: config\database_queries.js, tests\creating_test_users.js, tests\database_testing.js, ...
MONGODB_URI=

# used in: src\Orders\Order.js, src\services\paypal-service.js, src\dashboard\admin\admin.js
PAYPAL_CLIENT_ID=

# used in: src\Orders\Order.js, src\services\paypal-service.js, src\dashboard\admin\admin.js
PAYPAL_CLIENT_SECRET=

# used in: src\main.js
PORT=

# used in: src\auth\email_verification.js, src\auth\password_reset.js, src\middleware\security.js
PRODUCTION_HOST=

# used in: src\middleware\security.js
PRODUCTION_HOST_2=

# used in: src\redis.js
REDIS_HOST=

# used in: src\auth\email_verification.js, src\auth\password_reset.js
SENDGRID_API_KEY=

# used in: src\auth\register.js
Server_Side_Captha=

# used in: src\main.js
SESSION_COOKIE_SECURE=

# used in: src\main.js
SESSION_SECRET=
